PORT=5000
NODE_ENV=development
JWT_SECRET="teamflow_jwt_secret_token_key_12345!"

# Supabase Transaction-Mode Pooler Connection String (Used for running application server)
DATABASE_URL="postgresql://postgres.quwfchddwqfdomsvocrp:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase Session-Mode Pooler Connection String (Used for running schema migrations)
DIRECT_URL="postgresql://postgres.quwfchddwqfdomsvocrp:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# OPTIONAL: Gmail SMTP variables to enable Nodemailer email notifications (leave blank to skip)
EMAIL_USER=""
EMAIL_PASS=""
